.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
}

.contacts__header {
    padding-top: 105px;

}

.container-contact {
    background-image: url(img/head-contacts.png);
}

* {
    margin: 0;
    padding: 0;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);

}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body {
    font-family: sans-serif;
}


.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
    font-weight: 400;
}

.text-top {
    width: 425px;
}

.text__project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.project__img {
    width: 100%;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item__margin {
    margin-right: 32px;
}

.project__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text_mini {
    right: auto;
    top: 32px;
    left: 32px;
    text-align: left;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.text-contacts {
    align-self: center;
}

.heading {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.heading2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

.heading3,
.heading2,
.button {
    text-align: center;
}

.what-we-do {
    padding-top: 64px;
}


.heading3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 64px;
    font-weight: 400;
}

.heading3-footer {
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: left;
    width: 340px;
}

.card-box {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
    display: flex;
    flex-direction: column;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.card__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main {
    display: flex;
}

.footer {
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
    background: #316099;
}

.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__text {
    width: 340px;
}

hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
    background: #5A98D0;
}

.text-footer {
    width: 495px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

}

.footer__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33, 33333%;
    margin-right: 32px;
}

.footer-coppy {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info {
        background-position: right 280pxr;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 48px;
    }

    .footer__button {
        padding: 4px 31px;
    }

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__list {
        margin-bottom: 24px;
    }
}

@media (max-width: 667px) {
    .heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
    }

    .text-top {
        width: 100%;
        text-align: center;
    }

    .header {
        padding-top: 24px;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: o 8px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
        padding-left: 32px;
    }

    .heading3 {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .card-box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text__project {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text_mini {
        left: 16px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item__margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer-coppy {
        margin-top: 32px;
    }

    .heading3-footer {
        width: 75%;
        margin: o auto;
        text-align: center;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .footer__top {
        flex-direction: column;
        padding-bottom: 41px;
    }

    .footer__text {
        width: 100%;
    }

    .footer__list {
        margin-bottom: 18px;
    }

    .footer-coppy {
        margin-top: 32px;
    }

    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
    }
}